$dark: #1d1d1d;
$light-dark: #262626;
$default-font: Arial, Helvetica, sans-serif;
$confirm-color: #fa7272;
$border-color: #4d4d4d;
$border-width: 1px;
$gap: 24px;
$main-radius: 12px;
$image-radius: 8px;
$skeleton-gradient: linear-gradient(to right, #3c3c3c, #444444, #333333);
$content-padding: 18px;